html
{
	background: url("2.jpg") no-repeat center center fixed ;
    background-size: 100% 100%;
}


.position-icons
{
	position: absolute;
	margin-left: 18%;
	top: 20%; 
}

#pointsT
{
	color : rgb(38,169,224) ;
	font-size: 3vw;

	position: absolute;
	top: 80%;
	margin-left: 8%;
}

#familyName
{
	color : white;
	font-size: 4vw;

	position: absolute;
	top: 80%;
	margin-left: 77%;
	padding-right: 15%;
}

#name1
{
	color : white;
	font-size: 2vw;
	margin-left: 13%;
}

#name2
{
	color : white;
	font-size: 2vw;
	margin-left: 13%;
}