html, body {
    margin: 0;
    height: 100%;
}

body, footer {
	background-color:  rgb(38,169,224);
  color: white;
}

footer img {
  height: inherit;
}

.bgw {
  background-color: white;
  color:  rgb(38,169,224);
}

.w70 {
  width: 60%;
}

.nmt {
  margin-top: 0;
}

.img-shop {
    max-height: 128px;
    max-width: 128px;
    margin-bottom: -4em;
}

.nom {
  margin: 0;
}

.nomb {
  margin-bottom: 0;
}

.supercontainer {
  height: 100%;
  display: table;
}

#loginBtn, #searchBtn {
	width: 100%;
	color: white;
	font-weight: bold;
	background-color: rgb(38,169,224);
}

#cartBtn {
  font-size: 1.6em;
	color: white;
	font-weight: bold;
	background-color: rgb(38,169,224);
}

.profil-name {
	color: white;
}

.footer {
  width: 100%;
  height: 60px;
}

.footer-img {
	width: 100%;
  height: inherit;
}

.navbar-default {
  background-color: #26a9e0;
  border-color: #2b8eb8;
}
.navbar-default .navbar-brand {
  color: #f6fdff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #afd5e5;
}
.navbar-default .navbar-text {
  color: #f6fdff;
}
.navbar-default .navbar-nav > li > a {
  color: #f6fdff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #afd5e5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #afd5e5;
  background-color: #2b8eb8;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #afd5e5;
  background-color: #2b8eb8;
}
.navbar-default .navbar-toggle {
  border-color: #2b8eb8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2b8eb8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f6fdff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f6fdff;
}
.navbar-default .navbar-link {
  color: #f6fdff;
}
.navbar-default .navbar-link:hover {
  color: #afd5e5;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f6fdff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #afd5e5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #afd5e5;
    background-color: #2b8eb8;
  }
}
