html, body {
    margin: 0;
    height: 100%;
}

body {
	background-color:  rgb(38,169,224);
}

.position-btn
{
	position: absolute;
	top : 87%;
	left: 45%;
}

.position-form
{
	position: absolute;
	margin-left: 35%;
	top: 60%;
}

.button
{
	font-size: 1.75vw;
	color : white;
}
