html, body {
    margin: 0;
    height: 100%;
}

body
{
	background: url("../img/backroom3.jpg") no-repeat center center fixed ;
}

.titles1
{
  color: white;
  font-size: 220% ;
}

.titles2
{
  color: white;
  font-size: 120% ;
}

.titles3
{
  color :rgb(38,169,224);
  font-size: 160% ;
}

.titles4
{
  color: black;
  font-size: 120% ;
}
