html, body {
    margin: 0;
    height: 100%;
}

body
{
	background: url("2.jpg") no-repeat center center fixed ;
}


#familyName
{
	color : white;
	font-size: 5vw;

	position: absolute;
	top: 80%;
	margin-left: 77%;
	padding-right: 15%;
}

#name1, #name2, #name3, #name4
{
	color : white;
	font-size: 4vw;
	margin-left: 14%;
}

.footer
{
  width: 100%;
  max-height:100px;
  position: absolute;
  bottom: 0px;
}

.menu
{
  display: flex ;
  flex-wrap: wrap ;
  justify-content: center ;
}
